#app
  .sidebar.col-xs-12.col-md-4
    #trucks-list.list-group
      #search
        .row
          %input(type="search" class="form-control" id="truck-search" placeholder="Search a Food Truck!")
        .row
          .col-xs-7
            %button(id="find-trucks-close" class="btn btn-primary btn-lg btn-block")
              %span#geotext Find trucks close to me
              %span.glyphicon.glyphicon-cog#geoloading
          .col-xs-5
            %button(id="reset-trucks-close" class="btn btn-danger btn-lg btn-block") Reset my location
      #trucks

    #map.col-xs-12.col-md-8
      #map-canvas



  -# template for Truck
  = haml :_truck_item_template
