#app
  .sidebar.col-xs-4
    #trucks-list.list-group
      #search
        %input(type="search" class="form-control" id="truck-search" placeholder="Search a Food Truck!")
      #trucks

    #map.col-xs-8
      #map-canvas



-# template for Truck
= haml :_truck_item_template
