!!! 5
%head
  %meta{'charset' => 'utf-8'}/
  %meta{'http-equiv' => 'X-UA-Compatible', 'content' => 'IE=edge,chrome=1'}/

  %title= title ||= "SF Food Trucks!"
  %link{'rel' => 'stylesheet', 'href' => '//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.css'}/
  %link{'rel' => 'stylesheet', 'href' => 'css/style.css'}/
%body
  #main
    = yield


  %script{type: 'text/javascript', src: 'js/vendors/jquery.js'}
  %script{type: 'text/javascript', src: 'js/vendors/underscore.js'}
  %script{type: 'text/javascript', src: 'js/vendors/backbone.js'}
  %script{type: 'text/javascript', src: 'js/vendors/typeahead.min.js'}
  %script{type: 'text/javascript', src: 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBLOJwjMTFe6BcrByw34gwxVEcJeIzTYD0&sensor=true'}
  %script{type: 'text/javascript', src: 'js/app.js'}

  / :javascript
  /   $(function() {
  /     function initialize() {
  /       var mapOptions = {
  /         center: new google.maps.LatLng(-34.397, 150.644),
  /         zoom: 8
  /       };
  /       var map = new google.maps.Map(document.getElementById("map"),
  /           mapOptions);
  /     }
  /     google.maps.event.addDomListener(window, 'load', initialize);
  /   });
