!!! 5
%head
  %meta{'charset' => 'utf-8'}/
  %meta{'http-equiv' => 'X-UA-Compatible', 'content' => 'IE=edge,chrome=1'}/

  %title= title ||= "SF Food Trucks!"
  %link{'rel' => 'stylesheet', 'href' => '//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.css'}/
  %link{'rel' => 'stylesheet', 'href' => "#{stylesheet_path 'style'}"}/
%body
  #main
    = yield

  %script{type: 'text/javascript', src: 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBLOJwjMTFe6BcrByw34gwxVEcJeIzTYD0&sensor=true'}
  %script{:src => "#{javascript_path 'app'}"}
