#app {
  height: 100%;
}

#trucks {
  padding: 0;
}

.truck {
  width: 100%;
  border-bottom: 1px solid grey;
}

#map {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  padding: 0;
}

#map-canvas {
  height: 100%;
}
