#app {
  height: 100%;
}

.sidebar {
  padding: 0;
}

#search .row {
  margin: 0;
}

#search .col-xs-5, .col-xs-7 {
  padding: 0;
}

#search button {
  border-radius: 0;
}

#search input {
  border-radius: 0;
  height: 60px;
  font-size: 2em;
}

#trucks {
  padding: 0;
}

.list-group-item:first-child {
  border-radius: 0;
}

.list-group-item:last-child {
  border-radius: 0;
}

.list-group {
  padding: 0;
  margin-bottom: 0;
}

.truck {
}

#map {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  padding: 0;
}

#map-canvas {
  height: 100%;
}
